
<header>
  <img src="assets/img/jadson.jpg"
  alt="Jadson Souza Faria - foto de perfil"
  width="130px" height="130px"
  loading="eager">
  <h1>Jadson Souza Faria</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Java | Struts 1 e 2 | Servlets | JSP | Spring Boot | Angular | JavaScript | Docker </p>
    <p>Iraja, Rio de Janeiro, Brasil</p>
    <p>
      Estou na área de desenvolvimento de software a mais de 10 anos. Atuando no desenvolvimento backend com stack
      Java e frontend tanto com arquitetura integrada com JSP ou apartada como Angular.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/jadsondev2022/"
            target="_blank"
            class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img src="assets/icons/whatsapp.svg"
        alt="Icone para contato do Whatsapp"
        width="22px" height="24px"
        loading="eager">

        <figcaption>
          <a
          href="https://api.whatsapp.com/send?phone=5521981202544&text=Ol%C3%A1%20Jadson,%20preciso%20de%20um%20job!"
          target="_blank"
        >
          <strong>Envie uma menssagem para:</strong>
          <p>WhatsApp: (21) 98120-25XX</p>
        </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:jadson.class@gmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>jadson.class&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>



    </section>

  </div>
</aside>
